NEXT_PUBLIC_EVENT_DATE = 

NEXT_PUBLIC_EVENT_DAY=
NEXT_PUBLIC_EVENT_MONTH=
NEXT_PUBLIC_EVENT_YEAR=

NEXT_PUBLIC_CEREMONY_TIME=
NEXT_PUBLIC_CEREMONY_PLACE_LINE_1=
NEXT_PUBLIC_CEREMONY_PLACE_LINE_2=
NEXT_PUBLIC_CEREMONY_MAPS_URL=

NEXT_PUBLIC_RECEPTION_TIME=
NEXT_PUBLIC_RECEPTION_PLACE_LINE_1=
NEXT_PUBLIC_RECEPTION_PLACE_LINE_2=
NEXT_PUBLIC_RECEPTION_MAPS_URL=

NEXT_PUBLIC_QUINCEANERA_NAME=
NEXT_PUBLIC_EVENT_TITLE=